@use '../base/variables' as v;
footer{
    margin-top: 2rem;
    width: 100%;
    background-color: v.$naranja;
    text-align: center;
    padding: 2rem;

    font-size: 1rem;
    color: v.$azul;
    font-weight: bold;
    
}
