@use '../base/mixins' as m;
@use '../base/variables' as v;
.contenedorFormulario{
    padding: 4rem 6rem;
    form{
        padding: 0 2rem;
        @include m.tablet{
           padding: 0;
        }
        h1{
            color: v.$blanco;
            font-weight: bold;
            padding: 1rem;
  
        }
    }
    .contLbl{
        display: flex;
        flex-direction: column;

    }
    .lbl{
        
        text-align: center;
        font-size: 1.2rem;
        color: v.$azul;
        font-weight: bold;
        @include m.tablet{
            float: right;
            text-align: right;
        }
        
        cursor: pointer;
    }

}



